body{
    background:rgb(32, 32, 32)
}
/*imagem da animação*/
#img1{
    background: gray;
    width:250px;
    height: 250px;
    position: absolute;
    left: 500px;
    top: 100px;
}

/* redes sociais*/

#img2{
    background: white;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 500px;
}

#img3{
    background: white;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 500px;
}

/* area de textos*/
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    left: 500px;
}
h2{
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    left: 275px;
    top: 75px;
}
p{
   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    left: 275px;
    top: 125px; 
}

@keyframes ani {
    0%{
        background: red;
    }
    50%{
        background: green;
    }
    100%{
        background: blue;
    }
}


/*Deixando o site em responsivo*/

@media(max-width:100%) {
    body{
        background:rgb(32, 32, 32)
    }
   
    #img1{
        background: gray;
        width:250px;
        height: 250px;
        position: absolute;
        left: 500px;
        top: 100px;
    }
    
    
    
    #img2{
        background: white;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 100px;
        top: 500px;
    }
    
    #img3{
        background: white;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 500px;
    }
    
   
    h1{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        position: absolute;
        left: 500px;
    }
    h2{
        
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        position: absolute;
        left: 275px;
        top: 75px;
    }
    p{
       
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        position: absolute;
        left: 275px;
        top: 125px; 
    }
    
}


@media (max-width:1080px){
    body{background: rgb(32, 32, 32);
    width: 1080px;
    height: 2270px;
    }
    #img1{
        max-width: 175px;
        max-height: 175px ;
       
    }

    #img2{
        background: gray;
        max-width: 25px;
        max-height: 25px;
        
    }
    #img3{
        background: gray;
        max-width: 25px;
        max-height: 25px;
        
    }
    h1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: absolute;
        top: -15px;
    }
    h2{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: absolute;
        top: 35px;
    }
    p{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: absolute;
        top: 100px;
    }
}